a{ 
    color: blue;
   
}
a:visited{
    color: red;
}
.square{
    display: inline-block;
   
    background-color: green;
    padding: 10px 10px 10px 10px;
   
    border: 2px solid black;
    display: flex;
    align-items: start;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column-reverse;
}

.squarev1{
    width: 100px;
    height: 100px;
}
.squarev2{
    width: 300px;
    height: 300px;
}

.square:hover{
    background: rgba(255, 255, 0, 0.932);
}
  